.cart-container, .cart-groom {
  width: 1000px;
  margin: auto;
  margin-top: 20px;
  border-bottom: 2px solid gainsboro;
}

.cart-con-header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: flex;
}

.cart-con-header div, .good-item div {
  padding-left: 10px;
  flex: 1;
  margin: auto;
}

.cart-con-header div:nth-child(6), .good-item div:nth-child(6) {
  flex: 1.5;
}

.cart-con-header div:nth-child(1), .good-item div:nth-child(1),
.cart-con-header div:nth-child(2), .good-item div:nth-child(2),
.cart-con-header div:nth-child(3), .good-item div:nth-child(3) {
  flex: 2.5;
}

.cart-good-item input {
  margin: auto 0;
}

.cart-good-item {
  height: 100px;
  box-sizing: border-box;
  border: #ebebeb solid 1px;
  line-height: 100px;
  font-size: 15px;
}

.cart-good-item img {
  width: 100px;
  height: 70px;
  border-radius: 5px;
}

.cart-goodsimg div {
  height: 70px;
  float: left;
  margin: auto 0;
}

.cart-btn-operator input {
  height: 20px;
  border: solid 1px grey;
  outline: none;
  box-sizing: border-box;
  width: 40px;
  text-align: center;
  line-height: 20px;
}

.cart-btn-operator input[type="button"] {
  width: 20px;
}

.cart-opt input {
  height: 20px;
  width: 80px;
}

.cart-con-count {
  position: relative;
  background: #e7e7e7;
  height: 50px;
}

.cart-con-count div {
  float: right;
}

.cart-con-count input {
  margin: 10px;
  width: 100px;
  height: 35px;
  background: #00cc66;
  border: #00cc66 solid 1px;
  border-radius: 10px;
  color: white;
}

.cart-groom {
  width: 100%;
  margin: auto;
}

.cart-groom-title {
  width: 100%;
}

.cart-groom-set-meal {
  width: 100%;
  display: flex;
}

.cart-groom-set-meal div {
  flex: 1;
  width: 200px;
  height: 150px;

  box-sizing: border-box;
  border: white solid 3px;
  text-align: center;
}

.cart-groom-set-meal div img {
  width: 200px;
  height: 130px;
  border-radius: 5px;
}
.btn{
  background: #00cc66;
  position: absolute;
  top: 8px;
  left: 45%;
  text-align: center;

}
